body{
    background-color: #86db35;
}

#content_container{
    background-color: #2e2424;
    width: 50%;
    margin: auto;
    display: inline-block;
    padding-bottom: 50px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 5%);
}

#to_do_list_header{
    margin: auto;
    background-color: #4d4646;
    color: white;
    width: 90%;
    height: 70px;
    font-size: 60px;
    font-family: monospace;
    text-align: center;
    border-top-right-radius: 10px;
    border-top-right-radius: 10px;
}

#input_container{
    background-color: #fff;
    margin: 10px auto;
    height: 120px;
    width: 90%;
    margin-bottom: 60px;
}

#input_box{
    width: 60%;
    float: left;
    height: 50px;
    background-color: none;
    border: none;
    border-bottom: 2px solid #36b353;
    text-align: center;
    font-family: monospace;
    font-weight: bold;
    font-size: 15px;
    border-right: 0.2px solid #703434;
    transition: 0.3s;
}

#input_box:focus{
    border-bottom: 4px solid yellow;
    outline: none;
}

#input_date{
    width: 40%;
    float: right;
    height: 50px;
    background-color: none;
    border: none;
    border-bottom: 2px solid #36b353;
    text-align: center;
    font-family: monospace;
    font-weight: bold;
    font-size: 15px;
    transition: 0.3s;
    padding: 0;
}

#input_date:focus{
    border-bottom: 4px solid yellow;
    outline: none;
}

::-webkit-datetime-edit-text{
    color: red;
    padding: 0 0.3em;
}

::-webkit-calendar-picker-indicator{
    float: left;
    margin-right: 50px;
}

#input_button{
    width: 60%;
    float: left;
    margin-left: 20%;
    margin-top: 20px;
    background-color: #fff;
    height: 40px;
    color: #36b353;
    cursor: pointer;
    outline: none;
    text-align: center;
    font-family: monospace;
    font-size: 17px;
    text-align: center;
    border: 2px solid #75b79e;
    border-radius: 5px;
}

#input_button:hover{
    background-color: #75b79e;
    color: white;
}

#input_button:active{
    transform: translateY(4px);
}

.header{
    float: left;
    margin-left: 5%;
    background-color: #75b79e;
    color: white;
    text-align: center;
    font-family: monospace;
    font-weight: bold;
    font-size: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 0px 5px #4d4646;
}

.container{
    float: left;
    margin-left: 5%;
    margin-bottom: 40px;
    background-color: #f5eaea;
    width: 90%;
    height: 390px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.data_container{
    background-color: #fff;
    width: 90%;
    height: 80px;
    margin: 0 auto;
    margin-bottom: 10px;
    margin-top: 10px;
}

.data_container:hover{
    border: 2px solid #75b79e;
    box-sizing: border-box;
}

#data{
    display: inline-block;
    width: 200px;
    height: 100%;
    margin-left: 10px;
    float: left;
}

#tool{
    display: inline-block;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    float: right;
}

#done_button{
    float: right;
    height: 30px;
    width: 30px;
    cursor: pointer;
    background-color: #fff;
    border: none;
    border-radius: 20px;
    outline: none;
    margin-right: 5px;
}

#done_button:hover{
    background-color: #75b79e;
    color: white;
}

#done_button:active{
    transform: translateY(4px);
}

#edit_button{
    float: right;
    height: 30px;
    width: 30px;
    cursor: pointer;
    background-color: #fff;
    border: none;
    border-radius: 20px;
    outline: none;
    margin-right: 5px;
}

#edit_button_editing{
    float: right;
    height: 30px;
    width: 30px;
    cursor: pointer;
    background-color: #ffed83;
    color: white;
    border: none;
    border-radius: 20px;
    outline: none;
    margin-right: 5px;
}

#edit_button:hover{
    background-color: #4d4646;
    color: white;
}

#edit_button:active{
    transform: translateY(4px);
}

#delete_button{
    float: right;
    height: 30px;
    width: 30px;
    cursor: pointer;
    background-color: #fff;
    border: none;
    border-radius: 20px;
    outline: none;
    margin-right: 5px;
}

#delete_button:hover{
    background-color: #c42a2a;
    color: white;
}

#delete_button:active{
    transform: translateY(4px);
}

#title{
    background-color: #fff;
    font-family: monospace;
    font-weight: bold;
    font-size: 15px;
    float: left;
    width: 100%;
}

#date{
    background-color: #fff;
    font-family: monospace;
    color: grey;
    font-size: 12px;
    float: left;
    margin: 0;
    margin-bottom: 5px;
}

::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-track{
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb{
    background: #888;
}

::-webkit-scrollbar-thumb:hover{
    background: #555;
}

#dialogoverlay{
	display: none;
	opacity: .8;
	position: fixed;
	top: 0px;
	left: 0px;
	background: #FFF;
	width: 100%;
	z-index: 10;
}

#dialogbox{
	display: none;
	position: fixed;
	background: #000;
	border-radius:7px; 
	width:550px;
	z-index: 10;
}

#dialogbox > div{ 
    background:#FFF; 
    margin:8px; 
}

#dialogbox > div > #dialogboxhead{ 
    background: #666; 
    font-size:19px; padding:10px; 
    color:#CCC; 
}

#dialogbox > div > #dialogboxbody{ 
    background:#333; 
    padding:20px; 
    color:#FFF; 
}

#dialogbox > div > #dialogboxfoot{ 
    background: #666;
    padding:10px; 
    text-align:right;
}

#close{
    color: white;
    background-color: #3498db;
    display: inline-block;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 10px;
}

#pipe{
    color: #2ecc71;
    font-size: 20px;
    margin: 20px 0;
}

#minus_button{
    float: right;
    height: 30px;
    width: 30px;
    cursor: pointer;
    background-color: #fff;
    border: none;
    border-radius: 20px;
    outline: none;
    margin-right: 5px;
}

#minus_button:hover{
    background-color: #75b79e;;
    color: white;
}

#minus_button:active{
    transform: translateY(4px);
}